import pygame, time

pygame.init()

pygame.font.init()

#windows and name
screen = pygame.display.set_mode((1080, 900))
pygame.display.set_caption("Cars Game_Test")

#coordinates/координаты
x = 515
y = 700

#color/цвет
red = (255, 0, 0)

# Load car image and background images/Загрузите изображение автомобиля и фоновые изображения
#It will need to be finalized/Надо будет доработать
carimg = pygame.image.load("textures/Compact/compact_blue.png").convert_alpha()
backgroundpic = pygame.image.load("textures/background/road_0.png").convert_alpha()

#Class Car/класс машины
class car:
    def __init__(self, x, y):
        self.image = pygame.load("textures/Compact/compact_blue.png")
        self.rect = self.image.get_rect()
        self.rect.topleft = (y, x)
        self.speed = 5

#images cars to game/рисунок машины в игре
def draw(self, screen):
    screen.bilt(self.image, self.rect)

#quit the game/закрытие игры
running = True
while running:
   for event in pygame.event.get():
        if event.type == pygame.QUIT:
            running = False

        pygame.display.update()

        #The boundaries of the game/границы игры
        if x< 0 or x>=1080 or y<0 or y>= 900:
            running = False

        #movemes/движение
        pressed = pygame.key.get_pressed()
        if pressed[pygame.K_w]: y -= 10
        if pressed[pygame.K_s]: y += 5
        if pressed[pygame.K_a]: x -= 7
        if pressed[pygame.K_d]: x += 7
 

        #Images/Ставить рисунки
        screen.blit(backgroundpic, (0, 0))
        screen.blit(carimg, (x, y))

#timer before closing the game/таймер перед закрытием игры
time.sleep(2)
pygame.quit()
